mixin review(review)
  //- pre= h.dump(review)
  .review__header 
    .review__author 
      img.avatar(src=review.author.gravatar)
      p= review.author.name
    .review__stars(title=`Rated ${review.rating} out of 5 stars`)
      = '★'.repeat(review.rating)
      = '☆'.repeat(5-review.rating)
      
    time.review__time(datetime=review.created)= h.moment(review.created).fromNow()

    -const isAuthor = user && store.author.equals(user._id) 
    -const power = user && user.level && user.level == 10

    if isAuthor || power
      .store__action.store__action--count
        button.delete.black(data-id=`${review._id}` data-name= "review")
          != h.icon('delete')
  .review__body
    p= review.text